// @file
// The major stylesheet for this theme.
//
// We categorize our components by creating headings in this file. See the
// description on the style guide home page for more information.


// Colors and Sass
//
// Documentation for colors and Sass mixins and variables.
//
// Weight: -1
//
// Style guide: sass
@import 'init';

// Defaults
//
// These are the default base styles applied to HTML elements.
//
// Component classes can override these styles, but if no class applies a style
// to an HTML element, these styles will be the ones displayed.
//
// Style guide: base

// Ensure fonts get loaded first to minimize front-end performance impact.
@import 'base/fonts';
@import 'base/normalize';

// Layouts
//
// The layout styling for major parts of the page that are included with the
// theme. Note: some Panels layouts are included in other parts of the system
// and are not documented.
//
// Style guide: layouts
@import 'layouts/layout-3col/layout-3col';
@import 'layouts/layout-center/layout-center';
@import 'layouts/layout-swap/layout-swap';

// Components
//
// Design components are reusable designs that can be applied using just the CSS
// class names specified in the component.
//
// Weight: 1
//
// Style guide: components

@import 'components/box/box';
@import 'components/clearfix/clearfix';
@import 'components/comment/comment';
@import 'components/divider/divider';
@import 'components/header/header';
@import 'components/hero/hero';
@import 'components/hidden/hidden';
@import 'components/highlight-mark/highlight-mark';
@import 'components/inline-links/inline-links';
@import 'components/inline-sibling/inline-sibling';
@import 'components/messages/messages';
@import 'components/print-none/print-none';
@import 'components/responsive-video/responsive-video';
@import 'components/visually-hidden/visually-hidden';
@import 'components/watermark/watermark';
@import 'components/wireframe/wireframe';

// Navigation
//
// Navigation components are specialized design components that are used for
// page navigation.
//
// Weight: 2
//
// Style guide: navigation

@import 'navigation/breadcrumb/breadcrumb';
@import 'navigation/more-link/more-link';
@import 'navigation/nav-menu/nav-menu';
@import 'navigation/navbar/navbar';
@import 'navigation/pager/pager';
@import 'navigation/skip-link/skip-link';
@import 'navigation/tabs/tabs';

// Forms
//
// Form components are specialized design components that are applied to forms
// or form elements.
//
// Weight: 3
//
// Style guide: forms

@import 'forms/autocomplete/autocomplete';
@import 'forms/button/button';
@import 'forms/collapsible-fieldset/collapsible-fieldset';
@import 'forms/form-item/form-item';
@import 'forms/form-table/form-table';
@import 'forms/progress-bar/progress-bar';
@import 'forms/progress-throbber/progress-throbber';
@import 'forms/resizable-textarea/resizable-textarea';
@import 'forms/table-drag/table-drag';

.views-field-timestamp {
  color: $turquoise;
}

.view-Seneste-aktiviteter {
  .view-content,
  > .item-list {
    padding-left: .5em;
  }
}

// Dates
.si-date {
  display: block;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.8px;
  color: color(dusk-blue);
}

.safer-internet-day-logo {
  display: block;
  width: 210px;
  height: 118px;
  background-size: 210px 118px;
  background-image: image-url('images/grafik_SID2020_Save_the_date_01.png');
  background-position: center;
  margin: 0 auto;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    background-image: image-url('images/grafik_SID2020_Save_the_date_01@2x.png');
  }
}

.footer {
  background-color: color(white);
  padding: 1em;

  p {
    margin: 0;
  }

  .si-footer-logos {
    padding: 2em 0 1em 0;
    a {
      display: inline-block;
      background-position-y: center;
      background-repeat: no-repeat;
    }
  }

  &__logo-mbu {
    height: 38px;
    width: 82px;
    background-size: 82px 27px;
    background-image: image-url('images/logo_mbu.svg');
    margin-right: 50px;
  }

  &__logo-redbarnet {
    width: 135px;
    height: 38px;
    background-size: 135px 38px;
    background-image: image-url('images/logo_redbarnet.svg');
    margin-right: 50px;
  }

  &__logo-cfdp {
    width: 116px;
    height: 38px;
    background-size: 116px 38px;
    background-image: image-url('images/logo_cfdp.svg');
    margin-right: 50px;
  }

  &__logo-eu {
    width: 209px;
    height: 38px;
    background-size: 209px 24px;
    background-image: image-url('images/logo_da_horizontal_cef_logo.svg');
    float: right;
  }
}