/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.site-slogan {
  padding: 5px 0;
}

h2 {
  font-size: 18px;
}

#foot {
  background: #3071B6;
}
.footer-element-wrapper {
  display:inline;
  float:left;
  color: #ffffff;
  height:50px;
  width: 300px;
}
.footer-element {
  padding-left: 5px;
}
.footer-element img {
  padding-right: 5px;
}

img {
  max-width: 100%;
}
/* #Page Styles
================================================== */
.view-latest-news .views-row {
  margin-bottom: 20px;
}
	.view-latest-news .views-field-title .field-content {
	  font-weight: bold;
	}

/* #Block Styles
================================================== */
/* sidebar logos */
.logo-trinity {
  position: relative;
  height: 150px;
  margin-bottom: 1em;
}

.medieraad-logo {
  position: absolute;
  left: 10px;
  top: 0px;

}

.cfdp-logo {
  position: absolute;
  left: 10px;
  top:70px;
}

.redbarnet-logo {
  position: absolute;
  left: 160px;
  top: 60px;
}

.sid-logo {
  /*margin-top: 50px;*/
}

/* #Media queries
================================================== */
/* sidebar logos */
@media only screen and (min-width: 940px) {

  .medieraad-logo {
    left: 100px;
    top: 0px;
  }

	.redbarnet-logo {
	 
	}

}

