/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.site-slogan {
  padding: 5px 0;
}

h2 {
  font-size: 18px;
}

#foot {
  background: #3071B6;
}
.footer-element-wrapper {
  display:inline;
  float:left;
  color: #ffffff;
  height:50px;
  width: 300px;
}
	.footer-element {
	  padding-left: 5px;
	}
	.footer-element img {
	  padding-right: 5px;
	}
/* #Page Styles
================================================== */
.view-latest-news .views-row {
  margin-bottom: 20px;
}
	.view-latest-news .views-field-title .field-content {
	  font-weight: bold;
	}

