// Hero
//
// A hero type text style for enhancing text snippets
//
// Markup: hero.twig
//
// Style guide: components.hero

.hero,
%hero {
  border-top: 3px solid color(pinkie);
  border-bottom: 3px solid color(pinkie);
  margin: 1em auto;

  &__text {
    @include respond-to(m) {
      font-size: 24px;
    }
    color: color(dusk-blue-two);
    font-size: 20px;
    letter-spacing: -.7px;
    text-align: center;
    line-height: normal;
    max-width: 769px;
    margin: 2rem auto 1rem auto;

    a {
      color: color(dusk-blue-two);
      text-decoration: underline;
      font-weight: 500;
    }
  }

  &__read-more {
    color: color(dusk-blue-two);
    display: block;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 1.31;
    letter-spacing: 1.1px;
    padding: .8rem 0 1.2rem 0;
    &:visited {
      color: color(dusk-blue-two);
    }
  }
}


//
// Drupal selectors. (In case a module doesn't use theme_mark().)
//

//.new,
//.update {
//  @extend %highlight-mark;
//}
