$eggshell-blue: #c9fff3;
$turquoise: #00c3a6;
$purple-brown: #442d41;
$dusk-blue: #214b81;
$light-blue-grey: #b2d9dd;
$teal-blue: #0097ad;
$duck-egg-blue: #cbe9e4;
$earth: #923b3b;
$blueberry: #6735a0;