<div class="block-bottom {{modifier_class}}">
  <h2 class="block-bottom__title">{{title}}</h2>
  <h3 class="block-bottom__subtitle">{{title}}</h3>
  <div class="block-bottom__content">
    {{content}}
  </div>
</div>
